<!DOCTYPE html>  
<html>  
<head>
    <title>ASDF Random Text Generator</title>
    <meta charset="utf-8">
    <link rel="icon" href="images/asdf-favicon.png">
    <link href="https://plus.google.com/109975361919530850213" rel="publisher" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/application.css" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascript/asdf.js"></script>
    <script type="text/javascript" src="/javascript/copy.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/xyy3shq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-701371-35']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="span7">
        <h1>Generate ASDF</h1>
        <form method="get">
          <ul class="chooser">
            <li><input type="submit" value="ASDF" name="type" id="submit-asdf" class="btn danger"/></li>
            <li><input type="submit" value="Lorem" name="type" id="submit-lorem" class="btn danger"/></li>
          </ul>
        </form>
        </div>

<div class="span7 social-links">
<ul class="cf social-links">
  <li id="twitter">
    <a href="http://twitter.com/home?status=Check%20out%20the%20ASDF%20Text%20Generator%20-%20<%= request.url%>" >
      <img src='images/twitter.png' alt='Share this on twitter' title='Share this on twitter' />
    </a>
  </li>
  <li id="facebook">
    <a href="http://www.facebook.com/sharer.php?u=<%= request.url %>&amp;t=ASDF Text Generator" target="blank">
      <img src='images/facebook.png' alt='Share this on Facebook' title='Share this on Facebook' />
    </a>
  </li>
  <li id="linkedin">
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= request.url %>&amp;title=Check%20out%20ASDF Text Generator&amp;source=<%= request.url%>">
      <img src='images/linkedin.png' alt='Share this on LinkedIn' title='Share this on LinkedIn' />
    </a>
  </li>
  <li id="gplus">
    <!-- g:plusone size="small" annotation="none"></g:plusone -->
    <div class="g-plusone" data-size="small" data-count="false"></div>
  </li>
</ul>
</div>

        <div id="result" class="span7 result">
          <%= @block %>
        </div>
      </div>
    </div>

    <div class="doolin">
      <span class="shamrock">&#9752;</span> <a href="http://dool.in/" title="My routing page.">dool.in</a>
      <span class="alpha">&alpha;</span> <a href="http://walteryu.com/" title="My homepage.">wyu</a>
    </div>
  </body>
</html>
